<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/eregister" method="post">
<label>Username</label>
<input type="text" name="username">
<br>
<br>
<label>Email ID:</label>
<input type="email" name="email">
<br>
<br>
<label>Password:</label>
<input type="password"  name="password">
<br>
<br>
<label>Phone No:</label>
<input type="number" name="phone">
<br>
<br>
<label>Gender:</label>
<input type="radio" name="gender" value="Male">Male
<br>
<input type="radio" name="gender" value="Female">Female
<br>
<input type="radio" name="gender" value="Others">Others
<br>
<br>
<label>Role:</label>
<input type="radio" name="role" value="Admin">Admin
<br>
<input type="radio" name="role" value="Customer">Customer
<br>
<br>
<label>Address:</label>
<textarea row="2" col="3"></textarea>
<br>
<input type="submit" value="Register">
</form>
<br>
<br>
</body>
</html>